.main {
  text-align: center;

  &__distance {
    padding: 0.5rem;
    border: 2px solid black;
    border-top: none;
    border-radius: 0 0 0.5rem 0.5rem;
    width: fit-content;
    height: 1.5rem;
    margin: auto;
  }
}